(% load staticfiles %)
{% extends 'base.html' %}
{% block title %}
    Homepage - {{ block.super }}
{% endblock title %}

{% block content %}
    <h1>About The Workroom</h1>
    <h2>Mission</h2>

    <p>The Workroom is a makerspace dedicated to nurturing creativity and curiosity in the kids and families of East Nashville.</p>

<h2>Vision</h2>

<p>Our vision is to offer a space to work, to tinker, to dream, and to learn. We will offer physical work space, as well as tools and instruction.</o>

<h2>Community</h2>

<p>We are proud to be a part of and to serve the East Nashville community.</p>

<h2>Get Involved</h2>

<p>Would you like to volunteer at The Workroom? Let us know!</p>

<h2>Become a Member</h2>

<p>The Workroom will be open for membership soon. Click here to be notified.</p>

<h2>Workshops</h2>

<p>Our workshops are open to members and non-members alike. Click here for a full listing of events.</p>
{% endblock content %}
